{% extends 'base.html.twig' %}

{% block title %}New DrugWarehouse{% endblock %}

{% block body %}
    <h1>Create new DrugWarehouse</h1>

    {{ include('drug_warehouse/_form.html.twig') }}

    <a href="{{ path('app_drug_warehouse_index') }}">back to list</a>
{% endblock %}
