{% extends 'base.html.twig' %}

{% block title %}Drug distribution{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ drugWarehouse.name }}</h1>

    <ol>
    {% for inventory in inventories %}
        <li><a>{{ inventory.medicine.name }}</a> {{ inventory.total }}</li>
    {% endfor %}
    </ol>

    <p>{% if inventories is empty %}There is no record!{% endif %}</p>

</div>
{% endblock %}
