{% extends 'base.html.twig' %}

{% block title %}Drug distribution{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Welcome to the drug distribution website</h1>

    <ul>
    {% for drugWarehouse in drugWarehouseList %}
        <li><a href="{{ path('app_drug_shop', {'id': drugWarehouse.id}) }}">{{ drugWarehouse.name }}</a></li>
    {% endfor %}
    </ul>

</div>
{% endblock %}
