{% extends 'base.html.twig' %}

{% block title %}Drug distribution{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Welcome to the drug distribution website</h1>

    <p>On this website, you can buy the medicine you want and keep your pharmacy updated.</p>
    <p>If you have any questions, you can contact us in the <strong><i>Contact us</i></strong> section.</p>
</div>
{% endblock %}
